body {
  background-color: #8cc461;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* Upper Box */
.upperbox {
  position: absolute;
  display: flex;
  top: 55px;
  height: 160px;
  left: 22.5rem;
  width: 810px;
  border: 2px solid #ffffff;
  border-radius: 13px;
  justify-content: flex-end;
  align-items: center;
  padding: 2px;
}
.rock,
.paper,
.scissor {
  position: absolute;
  width: 135px;
  height: 37px;
  left: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 46.66px;
  letter-spacing: 3px;
  color: #ffffff;
}
.rock {
  top: 16px;
}
.paper {
  top: 58px;
}
.scissor {
  top: 101px;
}

/* Score Boxes */
.score {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
  padding-bottom: 8px;
  height: 128px;
  width: 300px;
  border-radius: 9px;
  justify-content: space-between;
}
.scoreBoxOne,
.scoreBoxTwo {
  padding-top: 10px;
  text-align: center;
  width: 139px;
  height: 128px;
  border-radius: 9px;
  background-color: #ffffff;
}
.computer,
.boxOne {
  color: #656565;
  font-size: 17px;
  font-weight: 600;
  line-height: 19.92px;
  letter-spacing: 0.1rem;
}
.youSco,
.comSco {
  color: #252525;
  font-weight: 700;
  font-size: 65px;
}
.your,
.boxTwo {
  color: #656565;
  font-size: 17px;
  font-weight: 600;
  line-height: 19.92px;
  letter-spacing: 0.1rem;
}

@keyframes computerShadowAnimation {
  0% {
    box-shadow: 0 0 0 55px rgba(46, 154, 37, 0.7),
      0 0 0 85px rgba(46, 154, 37, 0.5), 0 0 0 115px rgba(46, 154, 37, 0.3);
  }
  50% {
    box-shadow: 0 0 0 30px rgba(46, 154, 37, 0.7),
      0 0 0 60px rgba(46, 154, 37, 0.5), 0 0 0 90px rgba(46, 154, 37, 0.3);
  }
  100% {
    box-shadow: 0 0 0 55px rgba(46, 154, 37, 0.7),
      0 0 0 85px rgba(46, 154, 37, 0.5), 0 0 0 115px rgba(46, 154, 37, 0.3);
  }
}

/* Image css */
#player {
  position: absolute;
  top: 420px;
  left: 435px;
  z-index: 99;
}

#computer {
  position: absolute;
  top: 420px;
  left: 985px;
  z-index: 99;
}

/* Action Choosing */
.youPicked,
.pcPicked {
  position: absolute;
  width: 113px;
  height: 16px;
  top: 335px;
  z-index: 344;
  font-size: 17px;
  font-weight: 600;
  line-height: 19.92px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.youPicked {
  left: 445px;
}
.pcPicked {
  left: 1000px;
}

/* Play Button */
.playButton {
  position: absolute;
  top: 547px;
  left: 687px;
  width: 175px;
  height: 44px;
  border: solid #ffffff;
  background-color: #ffffff;
  border-radius: 9px;

  font-size: 15px;
  font-weight: 600;
  line-height: 17.58px;
  letter-spacing: 0.1em;
  color: #6b6b6b;
  text-align: center;
}

/* You Lost You Win */
.youWin {
  position: absolute;
  top: 454px;
  left: 625px;
  height: 45px;
  width: 300px;

  font-size: 39px;
  font-weight: 800;
  line-height: 45.7px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.1em;
}
.againstPc {
  position: absolute;
  top: 501px;
  left: 680px;
  height: 36px;
  width: 190px;

  font-size: 25px;
  font-weight: 800;
  line-height: 29.3px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
}

/* Rule Button */
.ruleButton {
  position: absolute;
  top: 675px;
  width: 119px;
  height: 35px;
  left: 1375px;
  background-color: #8cc461;

  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  border: 2px solid white;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 21px;
  text-align: center;
  line-height: 14px;
}
.rulesContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.rulesContent {
  position: absolute;
  width: 278px;
  height: 345px;
  top: 454px;
  left: 1315px;
  color: #ffffff;
  border: 7px solid #ffffff;
  border-radius: 13px;
  background-color: #004429;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
ul {
  position: absolute;
  top: 80px;
  left: 40px;
}
li::marker {
  position: relative;
  top: 50px;
  color: #ffd600;
  font-size: 20px;
}
h2 {
  position: absolute;
  width: 190px;
  top: 25px;
  height: 27px;
  left: 80px;
  font-weight: 600;
  font-size: 29px;
  line-height: 33px;
}
.closeButton {
  position: absolute;
  top: -36px;
  left: 299px;
  background-color: #ff0000;
  border: 5px solid #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}
